{% extends 'base.html' %}

{% block conteudo %}
    {% set mensagens = get_flashed_messages() %}
    {% if mensagens %}
        {% for msg in mensagens %}
            <div class="message">
                {{ msg }}
            </div>
        {% endfor %}
    {% endif %}
    <div>
        <a href="/revista/add">Adicionar</a>
    </div>
    <table>
        <tr>
            <th>Editora</th>
            <th>Título</th>
            <th>Edição</th>
        </tr>
        {% for r in revista %}
        <tr>
            <td>{{r.editora.nome}}</td>
            <td>{{r.titulo}}</td>
            <td>{{r.edicao}}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}